@using MVC.Common.Data;
@model Student
@{
    ViewData["Title"] = "Edit student";
}
<!DOCTYPE html>

<html>
<head>
    <title>Edit student</title>

</head>
<body>
    <h3>Edit student @Model.FirstName @Model.LastName</h3>

    <form asp-action="EditStudent" asp-controller="students">
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">Name</label>
            <input asp-for="FirstName" class="form-control col-3" />
            <label asp-for="LastName" class="control-label">Surname</label>
            <input asp-for="LastName" class="form-control col-3" />
            <input type="hidden" asp-for="GroupId" />
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </form>
</body>
</html>