@model Course
@{
    ViewData["Title"] = Localizer["CreateCourse"];
}

<h4>@Localizer["CreateCourse"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_FormCourse"/>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Courses">@Localizer["Back"]</a>
</div>