@model IEnumerable<Course>
@{
    ViewData["Title"] = "Список курсов";
    int i = 1;
}
<!DOCTYPE html>

<html>
<head>
    <title>Курсы</title>
    @*<link rel="stylesheet" href="~/css/indexPage.css" />*@
</head>
<body>
    <h3>Курсы</h3>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle text-center" scope="col">#</th>
                <th class="align-middle" scope="col">Название</th>
                <th class="align-middle" scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td class="align-middle text-center font-weight-bold">@i</td>
                    <td class="align-middle">@course.Name</td>
                    <td class="align-middle">@course.Description</td>
                    @*<td><button type="button" class="btn btn-dark" href="#@course.Id">Выбрать</button></td>*@
                    <td class="align-middle text-center"><a href="~/Home/Groups/@course.Id" class="btn btn-sm btn-dark" role="button" aria-pressed="true">Выбрать</a></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</body>
</html>
