@model Group
@{
    ViewData["Title"] = "Edit group";        
}
<!DOCTYPE html>

<html>
<head>
    <title>Edit group</title>

</head>
<body>
    <h3>Edit group @Model.Name</h3>

    <form asp-action="EditGroup" asp-controller="Home" asp-route-id="@Model.Id">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название</label>
            <input type="text" asp-for="Name" class="form-control col-3" />
            <input type="hidden" asp-for="CourseId" class="form-control" />
        </div>       
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
    </form>






    @*<table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="align-middle text-center">#</th>
                    <th class="align-middle">Название</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Groups.GetAll().Where(x => x.CourseId == course.Id))
                {
                    <tr>
                        <td class="align-middle text-center font-weight-bold">@i</td>
                        <td class="align-middle">@group.Name</td>
                        <td class="align-middle">
                            <a href="~/Home/Students/@group.Id" class="btn btn-sm btn-dark" role="button" aria-pressed="true">Students</a>
                            <a href="~/Home/EditGroup/@group.Id" class="btn btn-sm btn-success" role="button" aria-pressed="true">Edit</a>
                            <a href="~/Home/RemoveGroup/@group.Id" class="btn btn-sm btn-danger" role="button" aria-pressed="true">Remove</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>*@
</body>
</html>