<div class="container">
    <div class="row">
        <div class="col-10 justify-content-start d-flex align-items-center">
            <page-link page-model="Model.PageViewModel"
                        filter-view-model="Model.FilterViewModel"
                        page-action="Index"
                        sort-view-model="Model.SortViewModel">
            </page-link>
        </div>
        <div class="col-1 justify-content-end d-flex align-items-center">
            @Localizer["Show"]
        </div>
        <div class="col-1 justify-content-start d-flex align-items-center">
            <page-size page-model="Model.PageViewModel"
                        filter-view-model="Model.FilterViewModel"
                        sort-view-model="Model.SortViewModel"
                        list-page-sizes="(List<int>)ViewBag.ListPageSizes">
            </page-size>
        </div>
    </div>
</div>