@using MVC.Common;
@model Response
<div class="container">
    <div class="row">
        <div class="col-2">
            <a href="~/courses/@Model.PathBack" class="btn btn-sm btn-dark" role="button" aria-pressed="true">&#8249;&#8249;&#8249;</a>
        </div>
        <div class="col">
            <h4>@Model.Message</h4>
        </div>
    </div>
</div>

