@using MVC.Common.Data;
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Список курсов";
    int i = 1;
}
<!DOCTYPE html>

<html>
<head>
    <title>Courses</title>
    @*<link rel="stylesheet" href="~/css/indexPage.css" />*@
</head>
<body>
    <h3>Courses</h3>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle text-center" scope="col">#</th>
                <th class="align-middle" scope="col">Название</th>
                <th class="align-middle" scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr id="@course.Id">
                    <td class="align-middle text-center font-weight-bold">@i</td>
                    <td class="align-middle">@course.Name</td>
                    <td class="align-middle">@course.Description</td>
                    <td class="align-middle text-right"><a href="~/courses/@course.Id/groups" class="btn btn-sm btn-dark" role="button" aria-pressed="true">Groups</a></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</body>
</html>
